@media (max-width: 600px) {
  .terminaltext {
    font-size: 16px !important;
  }
}
 
#container{
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
  transition: all 0.5s ease;
  border-radius: 8px;
  min-width: 200px;
  margin: 7px;
}

#terminalBody{
  font-family: "Courier";
  margin: 10px 10px 0 25px;
  white-space: nowrap;
  overflow: hidden;
  word-break: break-word;
  width: 90%;
  padding-bottom: 20px

}
#text1 {
  animation-name: anim;
  animation-duration: 4s;
}

#text2 {
  animation-name: anim2;
  animation-duration: 4s;
}

#text3 {
  animation-name: anim3;
  animation-duration: 5s;
}

#text4 {
  animation-name: anim4;
  animation-duration: 7s;
}

#text5 {
  animation-name: anim5;
  animation-duration: 11s;
}

#text6 {
  animation-name: anim6;
  animation-duration: 15s;
}

#text7 {
  animation-name: anim7;
  animation-duration: 18s;
}

#text8 {
  animation-name: anim8;
  animation-duration: 21s;
}

#text9 {
  animation-name: anim9;
  animation-duration: 24s;
}

@keyframes anim {
  from {
    width: 0;
  }
}

@keyframes anim2 {
  0% {
    width: 0;
  }
  20% {
    width: 0;
  }
  100% {
    width: 100;
  }
}

@keyframes anim3 {
  0% {
    width: 0;
  }
  40% {
    width: 0;
  }
  100% {
    width: 100;
  }
}

@keyframes anim4 {
  0% {
    width: 0;
  }
  45% {
    width: 0;
  }
  100% {
    width: 100;
  }
}

@keyframes anim5 {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100;
  }
}

@keyframes anim6 {
  0% {
    width: 0;
  }
  55% {
    width: 0;
  }
  100% {
    width: 100;
  }
}

@keyframes anim7 {
  0% {
    width: 0;
  }
  60% {
    width: 0;
  }
  100% {
    width: 100;
  }
}

@keyframes anim8 {
  0% {
    width: 0;
  }
  65% {
    width: 0;
  }
  100% {
    width: 100;
  }
}

@keyframes anim9 {
  0% {
    width: 0;
  }
  70% {
    width: 0;
  }
  100% {
    width: 100;
  }
}

@keyframes blink {
  to {
    opacity: 0;
  }
}

::selection {
  background: black;
}
